<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="stylesheet" th:href="@{~/admin.css}">
    <link rel="stylesheet" href="https://maxst.icons8.com/vue-static/landings/line-awesome/line-awesome/1.3.0/css/line-awesome.min.css">
</head>
<body>
    <input type="checkbox" id="nav-toggle">
    <div class="sidebar">
        <div class="sidebar-brand">
            <h2><span class="lab la-quinscape "> <span>Queue-Up</span></span></h2>
        </div>
        <div class="sidebar-menu">
            <ul class="navbar">
                <li class="nav-item active">
                    <a th:href="@{~/admin/adminPanel/}+${userName}" > <span class="las la-igloo"></span>
                        <span>Dashboard</span></a>
                </li>
                <li class="nav-item">
                    <a th:href="@{~/admin/usersList/}+${userName}"> <span class="las la-users"></span>
                        <span>Users</span></a>
                </li>
                <li class="nav-item">
                    <a th:href="@{~/admin/status/}+${userName}"> <span class="las la-signal"></span>
                        <span>Queue Status</span></a>
                </li>
                <li class="nav-item">
                    <a th:href="@{~/admin/key/}+${userName}"> <span class="las la-key"></span>
                        <span>Generate Key</span></a>
                </li>
                <li class="nav-item">
                    <a th:href="@{~/admin/account/}+${userName}"> <span class="las la-user-circle"></span>
                        <span>Account</span></a>
                </li>
            </ul>
        </div>
    </div>    <div class="main-content">
        <header>
            <h2>
                <label for="nav-toggle">
                    <span class="las la-bars"></span>
                </label>
                Dashboard
            </h2>
            <div class="user-wrapper">
                <a th:href="@{~/admin/account/}+${userName}">
                    <div>
                        <h4 th:text="${userName}"></h4>
                        <small>Admin</small>
                    </div>
                </a>
            </div>

        </header>
        <main>
            <div class="cards">
                <a th:href="@{/admin/usersList/}+${userName}">
                    <div class="card-single">
                    <div>
                        <h1 th:text="${totalUser}"></h1>
                        <h2>Users</h2>
                    </div>
                    <div>
                        <p class="las la-users"></p>
                    </div>
                </div> </a>
                <a th:href="@{/admin/status/}+${userName}">
                    <div class="card-single">
                    <div>
                        <h1 th:text="${totalToken}"></h1>
                        <h2>Total Tokens</h2>
                    </div>
                    <div>
                        <p class="las la-ticket-alt"></p>
                    </div>
                </div></a>
                <a th:href="@{/admin/status/}+${userName}">
                <div class="card-single">
                    <div>
                        <h1 th:text="${currentToken}"></h1>
                        <h2>Current Token</h2>
                    </div>
                    <div>
                        <p class="las la-ticket-alt"></p>
                    </div>
                </div></a>
                <a th:href="@{/admin/status/}+${userName}">
                <div class="card-single">
                    <div>
                        <h1 th:text="${remainingToken}"></h1>
                        <h2>Remaining Token </h2>
                    </div>
                        <p class="las la-ticket-alt"></p>
                </div></a>
            </div>
            <div class="recent-grid">
                 <div class="users-status">
                    <div class="card">
                        <div class="card-header">
                            <h2>Recent Users</h2>
                            <a th:href="@{/admin/usersList/}+${userName}"><button>See all <span class="las la-arrow-right"></span></button></a>
                        </div>
                        <div class="card-body">
                            <table width="100%">
                                <thead>
                                    <tr>
                                        <td>S.No.</td>
                                        <td>Full Name</td>
                                        <td>Username</td>
                                        <td>Token Number</td>
                                        <td>Status</td>
                                        <td>Status Changed By</td>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr th:each="token,loop : ${tokenList}">
                                        <td th:text="${loop.count}"></td>
                                        <td th:text="${token.name}"></td>
                                        <td th:text="${token.username}"></td>
                                        <td th:text="${token.token_number}"></td>
                                        <td th:if="${token.status==0}">
                                            <span class="status yellow">
                                                Incomplete
                                            </span>
                                        </td>
                                        <td th:if="${token.status==1}">
                                            <span class="status green">
                                                Complete
                                            </span>
                                        </td>
                                        <td th:if="${token.status==2}">
                                            <span class="status purple">
                                                Absent
                                            </span>
                                        </td>
                                        <td th:if="${token.status==3}">
                                            <span class="status red">
                                                Cancelled
                                            </span>
                                        </td>
                                        <td th:if="${token.statusChangedBy=='User'}">
                                            <span style="font-weight: bold; color: #9400D3;" th:text="${token.statusChangedBy}"></span>
                                        </td>
                                        <td th:if="${token.statusChangedBy=='Admin'}">
                                            <span style="font-weight: bold;" th:text="${token.statusChangedBy}"></span>
                                        </td>
                                    </tr>
                            </table>
                        </div>
                    </div>
                 </div>
               </div>
        </main>
    </div>
</body>
</html>