<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Users</title>
    <link rel="stylesheet" th:href="@{~/users.css}">
    <link rel="stylesheet" th:href="@{~/admin.css}">
    <link rel="stylesheet" href="https://maxst.icons8.com/vue-static/landings/line-awesome/line-awesome/1.3.0/css/line-awesome.min.css">
</head>
<body>
    <input type="checkbox" id="nav-toggle">
    <div class="sidebar">
        <div class="sidebar-brand">
            <h2><span class="lab la-quinscape "> <span>Queue-Up</span></span></h2>
        </div>
        <div class="sidebar-menu">
            <ul class="navbar">
                <li class="nav-item active">
                    <a th:href="@{~/admin/adminPanel/}+${userName}" > <span class="las la-igloo"></span>
                        <span>Dashboard</span></a>
                </li>
                <li class="nav-item">
                    <a th:href="@{~/admin/usersList/}+${userName}"> <span class="las la-users"></span>
                        <span>Users</span></a>
                </li>
                <li class="nav-item">
                    <a th:href="@{~/admin/status/}+${userName}"> <span class="las la-signal"></span>
                        <span>Queue Status</span></a>
                </li>
                <li class="nav-item">
                    <a th:href="@{~/admin/key/}+${userName}"> <span class="las la-key"></span>
                        <span>Generate Key</span></a>
                </li>
                <li class="nav-item">
                    <a th:href="@{~/admin/account/}+${userName}"> <span class="las la-user-circle"></span>
                        <span>Account</span></a>
                </li>
            </ul>
        </div>
    </div>    <div class="main-content">
        <header>
            <h2>
                <label for="nav-toggle">
                    <span class="las la-bars"></span>
                </label>
                Dashboard
            </h2>
            <div class="user-wrapper">
                <a th:href="@{~/admin/account/}+${userName}">
                    <div>
                        <h4 th:text="${userName}"></h4>
                        <small>Admin</small>
                    </div>
                </a>
            </div>
        </header>
        <main>
            <h1><center>Registered User Detail</center></h1>
            <h3 th:text="${deleteMessage}" style="color: green"></h3>
            <div class="users-grid">
                <div class="users-status">
                   <div class="card">
                       <div class="card-header">
                           <h2>Users Information</h2>
                       </div>
                       <div class="card-body">
                           <table width="100%">
                               <thead>
                                   <tr>
                                       <td>S.N</td>
                                       <td>Full Name</td>
                                       <td>Username</td>
                                       <td>Phone Number</td>
                                       <td>Email</td>
                                       <td>Gender</td>
                                       <td>Action</td>
                                   </tr>
                               </thead>
                               <tbody>
                                   <tr th:each="user,loop : ${userList}">
                                    <td th:text="${loop.count}"></td>
                                    <td th:text="${user.name}"></td>
                                    <td th:text="${user.userName}"></td>
                                    <td th:text="${user.phoneNumber}"></td>
                                    <td th:text="${user.email}"></td>
                                    <td th:text="${user.gender}"></td>
                                    <td><a th:href="@{~/admin/usersList/delete/} + ${user.id}"><button id="delete">delete</button></a></td>
                                   </tr>
                               </tbody>
                           </table>
                       </div>
                   </div>
                </div>
        </main>

</body>
</html>
