main{
    text-align: center;
}


.key {
    color: var(--primary-color);
    display: flex;
    justify-content: space-around;
    padding: 32px;
    border-radius: 5px;
}

.token-key{
    margin-top: 20px;
    display: block;
}
.key-grid {
    margin-top: 56px;
    display: grid;
    grid-gap: 32px;
    grid-template-columns: 100% auto;

}

.key button{
    background: var(--primary-color);
    border-radius: 10px;
    color: azure;
    font-size: 15px;
    margin-top: 16px;
    padding: 8px;
    border: 1px solid var(--primary-color);
}




.key-text input{
    width: 400px;
    height: 50px;
    font-size: 20px;
    border-radius: 10px;
}



#key-btn{
    display: inline-block;
    padding: 10px 30px;
    cursor: pointer;
    background-color: var(--dark-color);
    color: azure;
    border: 1px double azure;
    border-radius: 5px;
    transition: 0.3s;
}
#key-btn:hover{
    background-color: var(--light-color) ;
}
h1, h2 {
    font-weight: 350;
    line-height: 1.2;
    margin: 10px 0px;
}

#delete-key{
    display: inline-block;
    padding: 5px 15px;
    cursor: pointer;
    background-color: red;
    color: azure;
    border: none;
    border-radius: 5px;
}

#update-key{
    display: inline-block;
    padding: 5px 15px;
    cursor: pointer;
    background-color: blue;
    color: azure;
    border: none;
    border-radius: 5px;
}
#delete-key:hover{
    background-color: white;
    color: red;
    border: 1px solid red;
    cursor: pointer;
}
#update-key:hover{
    background-color: white;
    color: blue;
    border: 1px solid blue;
    cursor: pointer;
}

