<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Account</title>
  <link rel="stylesheet" th:href="@{~/admin.css}">
  <link rel="stylesheet" href="https://maxst.icons8.com/vue-static/landings/line-awesome/line-awesome/1.3.0/css/line-awesome.min.css">

  <style>
    main button{
      width: 150px;
      font-size: 20px;
      border: 2px solid purple;
      border-radius: 10px;
      background: #ffffff;
      cursor: pointer;
    }

    main button:hover{
      background: purple;
      color: white;
    }
  </style>

</head>
<body>
<input type="checkbox" id="nav-toggle">
<div class="sidebar">
  <div class="sidebar-brand">
    <h2><span class="lab la-quinscape "> <span>Queue-Up</span></span></h2>
  </div>
  <div class="sidebar-menu">
    <ul class="navbar">
      <li class="nav-item active">
        <a th:href="@{~/user/userPanel/}+${userName}" > <span class="las la-igloo"></span>
          <span>Dashboard</span></a>
      </li>
      <li class="nav-item">
        <a th:href="@{~/user/token/}+${userName}"> <span class="las la-ticket-alt"></span>
          <span>My Token</span></a>
      </li>
      <li class="nav-item">
        <a th:href="@{~/user/history/}+${userName}"> <span class="las la-history"></span>
          <span>History</span></a>
      </li>
      <li class="nav-item">
        <a th:href="@{~/user/account/}+${userName}"> <span class="las la-user-circle"></span>
          <span>Account</span></a>
      </li>
    </ul>
  </div>
</div><div class="main-content">
  <header>
    <h2>
      <label for="nav-toggle">
        <span class="las la-bars"></span>
      </label>
      Dashboard
    </h2>
    <div class="user-wrapper">
      <a th:href="@{~/user/account}">
        <div>
          <h4 th:text="${userName}"></h4>
          <small>User</small>
        </div>
      </a>
    </div>
  </header>
  <main>
    <div class="card">
      <div class="card-header">
        <h2>User Details</h2>
      </div>
      <div class="card-body">
        <table th:each="user,loop : ${userDetails}">
          <tr>
            <th style="text-align: right;">Full Name : </th>
            <td th:text="${user.name}"></td>
          </tr>
          <tr>
            <th style="text-align: right;">Username : </th>
            <td th:text="${user.userName}"></td>
          </tr>
          <tr>
            <th style="text-align: right;">E-mail : </th>
            <td th:text="${user.email}"></td>
          </tr>
          <tr>
            <th style="text-align: right;">Mobile : </th>
            <td th:text="${user.phoneNumber}"></td>
          </tr>
          <tr>
            <th style="text-align: right;">Gender : </th>
            <td th:text="${user.gender}"></td>
          </tr>
        </table>
      </div>
    </div>

    <div class="card">
      <div class="card-body">
        <a th:href="@{/logout/}+${userName}" ><left> <button >Log out</button></left></a>
      </div>
    </div>  </main>
</body>
</html>
